/*--------- Full Page -------------*/

body {
  background-color: rgb(255, 255, 255);
  font-family: "Merriweather", serif;
}

/*--------- Header -------------*/

header {
  text-align: center;
  background: url("https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&dl=brooke-lark-HlNcigvUi4Q-unsplash.jpg");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  color: rgb(255, 255, 255);
}

/*--------- Navigation Bar -------------*/

ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 60px;
  text-align: center;
  margin: 0 auto;
  background-size: cover;
  color: rgb(255, 255, 255);
  font-weight: 700;
  border: 3px rgb(255, 255, 255);
  border-radius: 10% / 50%;
  background: rgba(49, 49, 49, 0.6);
}

li {
  display: inline;
  /* align-items: center; */
  justify-content: space-between;
  padding: 10px 90px 10px 90px;
  border: 3px white;
  border-radius: 10% / 50%;
  background: rgba(3, 94, 0, 0.6);
}

a {
  font-family: "Merriweather", serif;
  font-size: 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
  display: inline;
  background-size: cover;
}

a:hover,
button:hover {
  background-color: rgb(4, 114, 32, 0.5);
}

/* img {
  opacity: 0.5;
  filter: alpha(opacity=50);
} */

/*--------- Main Section -------------*/
main {
  font-family: "Merriweather", serif;
  color: rgb(33, 175, 104);
  text-align: center;
  padding: 20px;
  margin: 0 auto;
}

/*--------- Search Bar -------------*/

#searchBar {
  flex-wrap: wrap;
}

input {
  font-size: 25px;
  font-family: "Merriweather", serif;
  border-radius: 10% / 30%;
}

button {
  font-size: 25px;
  font-family: "Merriweather", serif;
  border-radius: 10% / 50%;
}

/*--------- Nutrition Facts Label -------------*/

#nutritionLabel {
  color: rgb(0, 0, 0);
}

/*--------- Footer -------------*/

footer {
  font-family: "Merriweather", serif;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  background: url("https://images.unsplash.com/photo-1478144592103-25e218a04891?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1568&q=80");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  display: grid;
  align-items: end;
}

.footerFont {
  border: 7px white;
  border-radius: 10% / 50%;
  background: rgba(49, 49, 49, 0.6);
}
